<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/project/testNG-demo">
        <classes>
            <class name="top.timebook.AnnotationTest">
                <methods>
                    <include name="test01"/>
                    <include name="test02"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>